{% extends "base.html" %}

{% block title %}Feed{% endblock %}

{% block content %}
<div class="container">
    <h2>Feed</h2>
    <div class="post-grid">
        {% if posts %}
        {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <span>{{ post.author.username }}</span>
            </div>
            <img src="{{ url_for('uploaded_file', filename=post.image_file) }}" alt="Trip Image">
            <div class="post-footer">
                <span>Posted on {{ post.date_posted.strftime('%Y-%m-%d') }}</span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No posts available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
